In [1]:
# Importing Libraries
import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from nltk.corpus import stopwords

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

from PIL import Image
warnings.filterwarnings('ignore')

In [2]:
books = pd.read_csv('book.csv', encoding='Latin1')
books

,Unnamed: 0,user_id,title,rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

In [3]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10000 non-null  int64
 1   user_id     10000 non-null  int64
 2   title       10000 non-null  object
 3   rating      10000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 312.6+ KB

In [4]:
print('Number of Unique Users are {}'.format(len(books['user_id'].unique())))

Number of Unique Users are 2182

In [5]:
print('Number of Unique Books are {}'.format(len(books['title'].unique())))

Number of Unique Books are 9659

In [6]:
books['rating'].value_counts()

8     2283
7     2076
10    1732
9     1493
5     1007
6      920
4      237
3      146
2       63
1       43
Name: rating, dtype: int64

In [7]:
books['user_id'].unique()

array([276726, 276729, 276736, ..., 162113, 162121, 162129], dtype=int64)

In [8]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10000 non-null  int64
 1   user_id     10000 non-null  int64
 2   title       10000 non-null  object
 3   rating      10000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 312.6+ KB

In [9]:
books.rating.describe()

count    10000.00000
mean         7.56630
std          1.82152
min          1.00000
25%          7.00000
50%          8.00000
75%          9.00000
max         10.00000
Name: rating, dtype: float64

In [10]:
books.describe()

        Unnamed: 0        user_id       rating
count  10000.00000   10000.000000  10000.00000
mean    5000.50000   95321.249800      7.56630
std     2886.89568  117645.703609      1.82152
min        1.00000       8.000000      1.00000
25%     2500.75000    2103.000000      7.00000
50%     5000.50000    3757.000000      8.00000
75%     7500.25000  162052.000000      9.00000
max    10000.00000  278854.000000     10.00000

In [11]:
books.isnull().any()

Unnamed: 0    False
user_id       False
title         False
rating        False
dtype: bool

In [12]:
books.isnull().sum()

Unnamed: 0    0
user_id       0
title         0
rating        0
dtype: int64

In [13]:
books.duplicated().sum()

0

In [14]:
books[books.duplicated()].shape

(0, 4)

In [15]:
books[books.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, user_id, title, rating]
Index: []

In [16]:
books.groupby('title')['rating'].mean().sort_values(ascending=False).head()

title
Dr Mommy (From Here To Maternity) (Silhouette Desire, 1269)                                                           10.0
The Piano Man's Daughter                                                                                              10.0
Private Screening                                                                                                     10.0
The Pilates Body: The Ultimate At-Home Guide to Strengthening, Lengthening, and Toning Your Body--Without Machines    10.0
Desert Solitaire                                                                                                      10.0
Name: rating, dtype: float64

In [17]:
books.groupby('title')['rating'].count().sort_values(ascending=False).head(10)

title
Fahrenheit 451                                     5
Ender's Game (Ender Wiggins Saga (Paperback))      4
Stardust                                           4
Vanished                                           4
Charlie and the Chocolate Factory                  4
The Subtle Knife (His Dark Materials, Book 2)      4
The Amber Spyglass (His Dark Materials, Book 3)    4
The Golden Compass (His Dark Materials, Book 1)    3
Pet Sematary                                       3
My Side of the Mountain                            3
Name: rating, dtype: int64

In [18]:
ratings = pd.DataFrame(books.groupby('title')['rating'].mean())
ratings.head()

                                                    rating
title
 Jason, Madison &amp                                   8.0
 Other Stories;Merril;1985;McClelland &amp             6.0
 Repairing PC Drives &amp                              4.0
'48                                                    7.0
'O Au No Keia: Voices from Hawai'I's Mahu and T...     8.0

In [19]:
ratings['num of ratings'] = pd.DataFrame(books.groupby('title')['rating'].count())
ratings.head()

                                                    rating  num of ratings
title
 Jason, Madison &amp                                   8.0               1
 Other Stories;Merril;1985;McClelland &amp             6.0               1
 Repairing PC Drives &amp                              4.0               1
'48                                                    7.0               1
'O Au No Keia: Voices from Hawai'I's Mahu and T...     8.0               1

In [20]:
# Renaming the columns name
books.rename({'Unnamed: 0':'index','User.ID':'user_id','Book.Title':'title','Book.Rating':'rating'}, axis= 1, inplace =True)
books.set_index('index', inplace=True)
books

       user_id                                              title  rating
index
1       276726                                Classical Mythology       5
2       276729                                       Clara Callan       3
3       276729                               Decision in Normandy       6
4       276736  Flu: The Story of the Great Influenza Pandemic...       8
5       276737                             The Mummies of Urumchi       6
...        ...                                                ...     ...
9996    162121       American Fried: Adventures of a Happy Eater.       7
9997    162121                              Cannibal In Manhattan       9
9998    162121                    How to Flirt: A Practical Guide       7
9999    162121                                           Twilight       8
10000   162129                       Kids Say the Darndest Things       6

[10000 rows x 3 columns]

In [21]:
user_books_df = books.pivot_table(index='user_id',columns = 'title', values = 'rating').fillna(0)
user_books_df

title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
user_id,,,,,,,,,,,,,,,,,,,,,
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278851,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
278852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
# Calculating Cosine Similarity between Users
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation, jaccard

In [23]:
ratings.sort_values('num of ratings',ascending=False).head(10)

                                                   rating  num of ratings
title
Fahrenheit 451                                   7.000000               5
Ender's Game (Ender Wiggins Saga (Paperback))    6.250000               4
Stardust                                         8.500000               4
Vanished                                         6.500000               4
Charlie and the Chocolate Factory                6.500000               4
The Subtle Knife (His Dark Materials, Book 2)    8.750000               4
The Amber Spyglass (His Dark Materials, Book 3)  8.250000               4
The Golden Compass (His Dark Materials, Book 1)  8.333333               3
Pet Sematary                                     7.666667               3
My Side of the Mountain                          8.000000               3

In [24]:
stardust_user_ratings = user_books_df['Stardust']
fahrenheit_user_rating = user_books_df['Fahrenheit 451']
fahrenheit_user_rating.head()

user_id
8     0.0
9     0.0
10    0.0
12    0.0
14    0.0
Name: Fahrenheit 451, dtype: float64

In [25]:
similar_to_fahrenheit = user_books_df.corrwith(fahrenheit_user_rating)
similar_to_stardust = user_books_df.corrwith(stardust_user_ratings)

In [26]:
corr_fahrenheit = pd.DataFrame(similar_to_fahrenheit,columns=['Correlation'])
corr_fahrenheit.dropna(inplace=True)
corr_fahrenheit.head()

                                                    Correlation
title
 Jason, Madison &amp                                  -0.000958
 Other Stories;Merril;1985;McClelland &amp            -0.000958
 Repairing PC Drives &amp                             -0.000958
'48                                                   -0.000958
'O Au No Keia: Voices from Hawai'I's Mahu and T...    -0.000958

In [27]:
corr_fahrenheit.sort_values('Correlation',ascending=False).head(10)

                                                    Correlation
title
Fahrenheit 451                                         1.000000
The Day I Swapped My Dad for 2 Goldfish                0.596326
A la vora del pou (El BalancÃ­)                        0.596326
Les illes grogues: Tres novelÂ¨les romÃ ntiques...     0.596326
The Ambassador's Women                                 0.596326
Dream Country (Sandman, Book 3)                        0.596326
For The Love Of Beau (Delta Justice) (Delta Jus...     0.596326
Father Of Two (The Daddy School) (Harlequin Sup...     0.596326
Silent Witness                                         0.596326
Contes de fÃ?Â©es Ã?Â  l'usage des moyennes per...     0.596326

In [28]:
corr_fahrenheit = corr_fahrenheit.join(ratings['rating'])
corr_fahrenheit.head()

                                                    Correlation  rating
title
 Jason, Madison &amp                                  -0.000958     8.0
 Other Stories;Merril;1985;McClelland &amp            -0.000958     6.0
 Repairing PC Drives &amp                             -0.000958     4.0
'48                                                   -0.000958     7.0
'O Au No Keia: Voices from Hawai'I's Mahu and T...    -0.000958     8.0

In [29]:
corr_fahrenheit[corr_fahrenheit['rating']>5].sort_values('Correlation',ascending=False).head()

                                                    Correlation  rating
title
Fahrenheit 451                                         1.000000     7.0
The Day I Swapped My Dad for 2 Goldfish                0.596326     9.0
Julia (Circle Of Friends) (Harlequin Superroman...     0.596326     7.0
The Princess Bride: S. Morgenstern's Classic Ta...     0.596326     7.0
Contes de fÃ?Â©es Ã?Â  l'usage des moyennes per...     0.596326     7.0

In [30]:
corr_stardust = pd.DataFrame(similar_to_stardust,columns=['Correlation'])
corr_stardust.dropna(inplace=True)
corr_stardust = corr_stardust.join(ratings['num of ratings'])
corr_stardust[corr_stardust['num of ratings']>4].sort_values('Correlation',ascending=False).head()

                Correlation  num of ratings
title
Fahrenheit 451    -0.001908               5

In [31]:
user_books_df.head()

title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
user_id,,,,,,,,,,,,,,,,,,,,,
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
# Calculating Cosine Similarity between Users
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation, jaccard

In [33]:
user_sim = 1 - pairwise_distances(user_books_df.values, metric = 'cosine')
user_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [34]:
# Store the results in a dataframe
user_sim_df = pd.DataFrame(user_sim)
user_sim_df

,0,1,2,3,4,5,6,7,8,9,...,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [35]:
user_sim_df.iloc[:5,:5]

     0    1    2    3    4
0  1.0  0.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0  0.0
2  0.0  0.0  1.0  0.0  0.0
3  0.0  0.0  0.0  1.0  0.0
4  0.0  0.0  0.0  0.0  1.0

In [36]:
np.fill_diagonal(user_sim, 0)
user_sim_df.iloc[0:5,0:5]

     0    1    2    3    4
0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0

In [37]:
# Set the index and column name to user Ids
user_sim_df.index = list(user_books_df.index)
user_sim_df.columns = list(user_books_df.index)
user_sim_df

,8,9,10,12,14,16,17,19,22,26,...,278831,278832,278836,278843,278844,278846,278849,278851,278852,278854
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278851,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
user_id_eight = user_sim_df.sort_values([9], ascending=False).head(100)
user_id_eight[9]

8         0.0
161755    0.0
161744    0.0
161749    0.0
161750    0.0
         ...
161441    0.0
161436    0.0
161434    0.0
161431    0.0
161423    0.0
Name: 9, Length: 100, dtype: float64

In [39]:
books[(books['user_id']==8) | (books['user_id']==14)]

       user_id                                              title  rating
index
2400         8                            Ancient Celtic Romances       5
2401         8  The Western way: A practical guide to the West...       5
2402         8                                              Wings       5
2403         8                                           Truckers       5
2404         8                Keepers of the Earth Teachers Guide       6
2405         8                            The Celts Activity Book       6
2406         8                                  The Art Of Celtia       7
2410        14                                               COPS       5
2411        14               A Cold Heart: An Alex Delaware Novel       5
2412        14                                         Dead Sleep       6

In [40]:
# Most Similar Users
user_sim_df.idxmax(axis=1)

8              8
9              8
10             8
12             8
14             8
           ...
278846         8
278849         8
278851    278202
278852         8
278854         8
Length: 2182, dtype: int64

In [41]:
books[(books['user_id']==8) | (books['user_id']==14)]

       user_id                                              title  rating
index
2400         8                            Ancient Celtic Romances       5
2401         8  The Western way: A practical guide to the West...       5
2402         8                                              Wings       5
2403         8                                           Truckers       5
2404         8                Keepers of the Earth Teachers Guide       6
2405         8                            The Celts Activity Book       6
2406         8                                  The Art Of Celtia       7
2410        14                                               COPS       5
2411        14               A Cold Heart: An Alex Delaware Novel       5
2412        14                                         Dead Sleep       6

In [42]:
def give_reco(customer_id):
    tem = list(user_sim_df.sort_values([customer_id],ascending=False).head(100).index)
    #print('similar customer ids:',tem)
    movie_list=[]
    for i in tem:
        movie_list=movie_list+list(books[books['user_id']==i]['title'])
    #print('Common movies within customer',movie_list)
    return set(movie_list)-set(books[books['user_id']==customer_id]['title'])

In [43]:
give_reco(14)

{"'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities",
 '20,001 Names for Baby',
 '24 Hours',
 '500 palabras nuevas para ti / 500 Words To Grow On',
 'A Cat in the Manger: An Alice Nestleton Mystery (Alice Nestleton Mysteries (Paperback))',
 'A Certain Justice: A Novel',
 "A Child's Night Dream",
 'A Darkness More Than Night',
 'A Dog Year: Twelve Months, Four Dogs, and Me',
 "A False Sense of Well Being (Ballantine Reader's Circle)",
 'A Flash in the Pan: 100 Fast and Furious Recipes for Wok and Stir-Fry',
 'A Free Man of Color (Benjamin January (Paperback))',
 'A GATHERING OF SAINTS',
 'A Lady Never Trifles with Thieves',
 'A Letter of Mary (Mary Russell Novels (Paperback))',
 'A Letter to Harvey Milk: Short Stories',
 'A Light in the Attic',
 'A Pocket Guide to Oahu',
 "A Single Tear: A Family's Persecution, Love, and Endurance in Communist China",
 'A Wreath for Rivera',
 'A lexicon of Jewish cooking: A collection of folklore, foodlore, history, customs, and recipes',
 'Acceptable Risk',
 'After All These Years',
 "Ain't I A Woman!: A Book of Women's Poetry from Around the World",
 'All Around the World Cookbook',
 'All They Want for Christmas: Comfort and Joy / Merry Christmas, Baby',
 'All the Pretty Horses (The Border Trilogy, Vol 1)',
 'All the Tenderness Left in the World: Short Stories',
 'All-of-a-kind Family',
 'Alley Kat Blues (Kat Colorado Mysteries)',
 'Ambulance Girl: How I Saved Myself by Becoming an EMT',
 "Amy's Answering Machine: Messages from Mom",
 'Ancient Celtic Romances',
 'Angel: City of (Angel)',
 'Animosity : A Novel',
 'Are You Somebody? : The Accidental Memoir of a Dublin Woman',
 'Artists in Crime',
 'At End of Day: A Novel',
 'Auntie Mayhem (Bed-And-Breakfast Mysteries (Paperback))',
 'BABY NAME PERSONALITY BOOK',
 'Babycakes',
 "Bad Jobs: My Last Shift at Albert Wong's Pagoda and Other Ugly Tales of the Workplace",
 'Ballad of Frankie Silver',
 'Bear (Nonpareil books)',
 'Belladonna: A Novel of Revenge',
 'Best Little Word Book Ever! (Little Golden Book)',
 'Better Homes and Gardens Cooking Chinese',
 'Better Times Than These',
 "Black As He's Painted",
 'Black Boy (American Hunger : a Record of Childhood and Youth)',
 "Blu's Hanging",
 'Blue Ridge',
 "Bootlegger's Daughter",
 'Borrowed Time: An AIDS Memoir',
 'Brazil',
 'Bread, Tomato, Garlic: Quick Cooking With 3 Main Ingredients',
 'Breathless: An Asthma Journal',
 'Brighton Beach Memoirs',
 'Brunswick Gardens',
 'Budding prospects: A pastoral (Contemporary American fiction)',
 'Burger Wuss',
 'Busiest Firefighters Ever! (Little Golden Book)',
 'C is for Corpse (Kinsey Millhone Mysteries (Paperback))',
 'CHINA WHITE',
 'Call No Man Father',
 'Cannery Row',
 'Cat on a Hyacinth Hunt : A Midnight Louie Mystery (A Midnight Louie Mystery)',
 'Cats, Cats, Cats!',
 'Cheaper and Better: Homemade Alternatives',
 'Chicken Soup from the Soul of Hawaii: Stories of Aloha to Create Paradise Wherever You Are',
 'Child of the Silent Night',
 'Christmas Talk Story (Book &amp; CD)',
 'Claws',
 'Cleopatra VII: Daughter of the Nile, Egypt, 57 B.C. (The Royal Diaries)',
 "Clifford's Schoolhouse: With More Than 60 Fun Flaps to Lift (Clifford)",
 'Cold Shoulder',
 'Companions in Courage : Triumphant Tales of Heroic Athletes',
 'Confessions of a Pagan Nun : A Novel',
 'Cookie Monster/Cookie Tree',
 'Cracker: To Say I Love You (Cracker (Paperback))',
 'Crazy Ladies : A Novel',
 'Creepy Susie: And 13 Other Tragic Tales for Troubled Children',
 'Crepe Cookery',
 'Crimes of neglect',
 'Critical Judgment',
 'Dark Lady',
 'Daughter of the Queen of Sheba',
 'Daughters of the dreaming',
 'Day of Reckoning',
 'Daydreams',
 'Dead Lagoon: An Aurelio Zen Mystery (Vintage Crime/Black Lizard)',
 'Dead Time',
 'Dead Water',
 'Deadly Legacy',
 'Dear Dad: Letters from an Adult Child',
 'Dear Maggie (Harlequin Superromance, No 987)',
 'Death and the Dancing Footman',
 'Death at the Bar',
 'Death of a Doxy: A Nero Wolfe Mystery (Crime Line)',
 "Death of a Fool (St. Martin's Dead Letter Mysteries.)",
 'Death of a Peer',
 'Descent of man: Stories (Contemporary American fiction)',
 'Desert Solitaire',
 'Desperation Dinners!',
 'Diamond Head (A John Caine Novel)',
 'Died in the Wool',
 'Dinkum oil; meanings and origins of things Aussies and Kiwis say',
 "Dinofours:  It's Time for School!",
 'Disappearing Moon Cafe',
 "Disney's 102 Dalmatians : A Read-Aloud Storybook",
 'Do You Know?',
 'Dolly Hit Me Back (Family Circus Series)',
 "Don't Sit U/Grits",
 "Douglas Adams's Starship Titanic",
 'Down Among the Women',
 'Dr. Dolittles Garden',
 'Dreamland',
 "Dress Codes: Of Three Girlhoods--My Mother's, My Father's, and Mine",
 'Driving and Discovering Oahu (Driving and Discovering Books)',
 'Dust to Dust',
 'Dynamic Yoga',
 'Each Day a New Beginning: Daily Meditations for Women',
 'Each Peach Pear Plum (Picture Puffins)',
 'Eleven Days: A Novel of the Heartland',
 'Encyclopedia Brown and the Case of the Mysterious Handprints (Encyclopedia Brown (Paperback))',
 'End of the Road',
 'Enter a Murderer (Dead Letter Mysteries)',
 'Escape from Fire Island!: A Date With Destiny Adventure',
 'Evans Above (Constable Evan Evans Mysteries (Paperback))',
 'Everville : The Second Book of the Art',
 'Exclusive',
 'Eyes of a Child',
 'FINDING THE BOYFRIEND WITHIN : A Practical Guide for Tapping into your own Source of Love, Happiness, and Respect',
 'FOR COLORED GIRLS WHO HAVE CONSIDERED SUICIDE WHEN THE RAINBOW IS ENUF',
 'Family Traditions in Hawaii',
 'Far Side Gallery 4 (Hardback)',
 'Fat Land: How Americans Became the Fattest People in the World',
 'Fender Benders',
 'Fiesta! A Celebration of Latin Hospitality',
 'Final Curtain',
 'Final Victim',
 'Finn Family Moomintroll',
 'Fire Wall (Checkered Flag)',
 'First Avenue',
 'Fluke : Or, I Know Why the Winged Whale Sings',
 "Flying Hawaii : A Pilot's Guide to the Islands",
 'Food for Fifty',
 "Fresh For '01... You Suckas: A Boondocks Collection",
 'Further Tales of the City',
 'Further Tales of the City (Tales of the City Series, V. 3)',
 'Fuzzy Logic Get Fuzzy 2',
 'Ghost Dance',
 'Golden Age of Promiscuity',
 'Good Night, Little Bear (Little Golden Book Series)',
 'Good Night, Mr. Holmes (Irene Adler)',
 'Great Good Food : Luscious Lower-Fat Cooking',
 'Groovitude: A Get Fuzzy Treasury',
 "Grover's Own Alphabet",
 'Gump &amp; Co.',
 'Gynecology: The Metaethics of Radical Feminism',
 'Hammerhead Ranch Motel',
 'Hard Frost',
 "Hawaii: True Stories of the Island Spirit (Travelers' Tales Guides)",
 'Hell to Pay',
 'Help Me to Help My Child: A Sourcebook for Parents of Learning-Disabled Children',
 'Hide and Seek',
 'High Adventure in the Great Outdoors',
 'Hitched! (The Taggarts Of Texas) (Superromance, 933)',
 'Hocus (Irene Kelly Mysteries (Paperback))',
 'Home for a Dinosaur (Giant First Start Reader)',
 'Honky Tonk Kat (Kat Colorado Mysteries)',
 'Hostile Witness',
 'Hot Type: Our Most Celebrated Writers Introduce the Next Word in Contemporary American Fiction (Collier Fiction)',
 'Hotel Honolulu: A Novel',
 'House of Blues: A Skip Langdon Novel',
 'How to Cook Everything: Simple Recipes for Great Food',
 "I Don't Know But I've Been Told : A Novel",
 'I Had a Dollar in Hawaii',
 'I Hope You Dance',
 "I Myself Have Seen It: The Myth of Hawai'i",
 "I Saw Esau: The Schoolchild's Pocket Book",
 "I Think That It is Wonderful: Featuring Jim Henson's Sesame Street Muppets (Little Golden Book)",
 'I Will Fear No Evil',
 "I'm the One That I Want",
 "IF YOU'RE AFRAID OF DARK",
 'INTIMACY : A NOVEL',
 'INVASION OF PRIVACY (John Francis Cuddy Mystery)',
 'If the River Was Whiskey: Stories (Contemporary American Fiction)',
 'In the Presence of the Enemy',
 'Interpreter of Maladies',
 "Isabel's Daughter : A Novel",
 "It's a Slippery Slope",
 'Jaguars Ripped My Flesh: Adventure Is a Risky Business (Bantam New Fiction Series)',
 'Jennifer, Hecate, MacBeth, William McKinley and Me, Elizabeth',
 'Jitterbug Perfume',
 'John Dollar: A Novel',
 'Judas Child',
 "Jupiter's Bones : A Peter Decker/Rina Lazarus Novel (Peter Decker &amp; Rina Lazarus Novels (Paperback))",
 'Just Plain Folks: Original Tales of Living, Loving, Longing, and Learning, As Told by a Perfectly Ordinary, Quite Commonly Sensible, and Absolutely Awe-Inspiring colore',
 'Justice Hall: A Mary Russell Novel (Mary Russell Novels (Paperback))',
 'KILLING TIME : AN INSPECTOR BILL SLIDER MYSTERY (Inspector Bill Slider Mysteries)',
 'Kat Kong',
 "Kat's Cradle (A Perfect Crime Book)",
 'Katapult (Kat Colorado Mysteries)',
 'Katwalk (Kat Colorado Mysteries)',
 'Keepers of the Earth Teachers Guide',
 'Key West',
 'Kiss Before Dying (The Best Mysteries of All Time)',
 'Kowloon Tong',
 'Kristin Lavransdatter: The Cross (Kristin Lavransdatter (Vintage))',
 'L.A. Confidential',
 'LAUGH BOOK, THE',
 'Lazarus and the Hurricane: The Freeing of Rubin \\Hurricane\\ Carter',
 "Lee Wade's Korean Cookery",
 'Light Thickens',
 "Lion's Blood : A Novel of Slavery and Freedom in an Alternate America",
 'Little Big Man',
 'Lost in a Good Book: A Thursday Next Novel',
 'Man With A Mission (The Men Of Maple Hill) (Harlequin Superromance, No. 1033)',
 'Marie Antoinette: Princess of Versailles, Austria-France, 1769 (The Royal Diaries)',
 'Marriage By The Book  (Florida) (Born in the USA)',
 'Martin Dressler : The Tale of an American Dreamer (Vintage Contemporaries)',
 'Master and Commander (Movie Tie-In Edition)',
 "Maya's First Rose: Diary of a Very Special Love",
 'Me: Stories of My Life',
 'Memnoch the Devil (Rice, Anne, Vampire Chronicles, 5th Bk.)',
 'Miami Spice: The New Florida Cuisine',
 "Miguel De Cervantes's Don Quixote",
 'Milk Treading',
 'Mine Eyes Have Seen : A First-Person History of the Events That Shaped America',
 'Mists of Time: Ngapuhi Myths and Legends',
 'Modern Women',
 "Molly Moon's Incredible Book of Hypnotism (Molly Moon Books (Hardcvoer))",
 'Monkey Wrench Gang',
 'More Shtuff - Mutts Iii (Mutts)',
 'More Tales of the City',
 'Moreau Omnibus: Forests of the Night/Emperors of the Twilight/Specters of the Dawn',
 'Mother Tongue (Passport Books No 3)',
 "Moving on: The Gay Man's Guide for Coping When a Relationship Ends",
 'Mr. Bridge',
 'Mrs. Mike',
 'Murder Runs in the Family: A Southern Sisters Mystery',
 'Murder With Puffins : A Meg Langslow Mystery (A Meg Lanslow Mystery)',
 'Murder on a Bad Hair Day: A Southern Sisters Mystery',
 'My Dark Places: An L.A. Crime Memoir',
 'My Father Is in the Navy',
 'My Little Golden Book of Cars and Trucks (Little Golden Book)',
 'N.P.: A Novel',
 'New Pocket Hawaiian Dictionary: With a Concise Grammar and Given Names in Hawaiian',
 'Night Dogs',
 'Night Train to Memphis',
 'Night of the Avenging Blowfish: A Novel of Covert Operations, Love, and Luncheon Meat',
 'Nights in the Gardens of Spain',
 "No Mirrors in My Nana's House",
 'No More Dying Then! (Vintage Crime/Black Lizard)',
 'No Shirt, No Shoes... No Problem!',
 'O Jerusalem (Mary Russell Novels (Paperback))',
 'Oahu the Gathering Place',
 'Odd Girl Out: The Hidden Culture of Aggression in Girls',
 'On Edge',
 'On a Street Called Easy, in a Cottage Called Joye',
 'One Police Plaza',
 'One life at a time: Making a world of difference',
 'Oracles and Miracles',
 'Oranges Are Not the Only Fruit',
 'Our Mutts Five',
 'Overcoming migraine: A comprehensive guide to treatment and prevention by a survivor',
 'P.S. Longer Letter Later',
 "Parents Are Teachers Too: Enriching Your Child's First Six Years (Little Hands(r))",
 'Pearl',
 'Poirot Investigates (Hercule Poirot Mysteries (Paperback))',
 'Pooh Trick or Treat! (Little Golden Books)',
 "Pooh's Workout Book",
 'Postcards from the Underground: Portraits from the Beat Era',
 'Postmodern Pooh',
 'Potiki (Talanoa : Contemporary Pacific Literature)',
 'Practical English Handbook',
 'Prince and Other Dogs II',
 'Prince: And Other Dogs 1850-1940',
 'Propeller One-Way Night Coach: A Story',
 'Puerto Rico Off the Beaten Path, 2nd: A Guide to Unique Places',
 'Pupus: An Island Tradition',
 'Quaker Indictment (An Elizabeth Elliot Mystery)',
 'RESCUE',
 'RIGHT TO DIE : RIGHT TO DIE',
 "Rainbow's End",
 'Random Family: Love, Drugs, Trouble, and Coming of Age in the Bronx',
 'Ransom',
 'Rashomon Gate',
 "Rehearsal's Off!",
 'Requiem for a Glass Heart',
 'Rest for the Wicked Ppr Nz',
 'Reweaving the World: The Emergence of Ecofeminism',
 'Rice',
 'Right as Rain',
 'River God',
 'Room Temperature: A Novel',
 "Rosie's Bakery All Butter Fresh Cream Sugar Packed No Holds Barred Baking Book",
 'Rush to Us/Americans Hail Rush Limbaugh',
 'Ryan White: My Own Story',
 'SEAL FORCE ALPHA',
 'SHALLOW GRAVES : SHALLOW GRAVES',
 'SHOCK WAVE (Dirk Pitt Adventures (Hardcover))',
 "Sabine's Notebook: In Which the Extraordinary Correspondence of Griffin &amp; Sabine Continues",
 'Sacajawea (Lewis &amp; Clark Expedition)',
 'Sarah, Plain and Tall (Sarah, Plain and Tall)',
 'Sarah: Women of Genesis',
 'Scales of Justice (Inspector Roderick Alleyn Mysteries)',
 'Scandinavian Feasts',
 'Scarlet Women: A Novel',
 'Send in the Stunt Mom: The Second Collection of Committed',
 'Serious Intent',
 'Seven Little Postmen (Little Golden Book)',
 'Shadow Song',
 'She Walks These Hills',
 "She's Gone Country: Dispatches from a Lost Soul in the Heart of Dixie",
 'Shenandoah Christmas (You, Me &amp; The Kids) (Harlequin Superromance, No. 1024)',
 'Sherlock Holmes and the Ice Palace Murders: From the American Chronicles of John H. Watson, M.D',
 'Short &amp; Tall Tales: Moose County Legends Collected by James Mackintosh Qwilleran',
 'Show of Evil',
 'Siddhartha',
 'Sideshow (One Last Wish)',
 "Singin' and Swingin' and Gettin' Merry Like Christmas",
 'Sins of the Fathers',
 'Sins of the Seventh Sister',
 'Slackjaw',
 'Slam (Alloy Books)',
 'Sling Blade: A Screenplay',
 'Smartest Bear and His Brother Oliver',
 'So Long a Letter (African Writers Series)',
 'Spinsters in Jeopardy',
 'Stern Men',
 'Strange Days: My Life With and Without Jim Morrison',
 'Stuart Little',
 'Substitute Father (Marriage Of Inconvenience) (Harlequin Super Romance)',
 'Suitable for Framing W/the Corpse Had a Familiar Face',
 'Susie, Sadly, and the Black Torpedo of Doom',
 "Suzanne's Diary for Nicholas",
 "Talk: Npr's Susan Stamberg Considers All Things",
 'Tangi (Pacific Writers Series)',
 'Tao Te Ching',
 'Terms of Adornment : The Ultimate Guide to Accessories',
 'Terrific Pacific Cookbook',
 'The Abduction',
 'The African-American Kitchen: Cooking from Our Heritage',
 'The Art Of Celtia',
 'The Ballad of Frankie Silver',
 'The Best American Nonrequired Reading 2002 (Best American Nonrequired Reading, 2002)',
 'The Big Bounce',
 'The Biggest Pumpkin Ever',
 'The Bitch in the House : 26 Women Tell the Truth About Sex, Solitude, Work, Motherhood, and Marriage',
 "The Book of Ruth (Oprah's Book Club (Hardcover))",
 'The Breaker',
 'The Brimstone Wedding',
 'The Burning City',
 'The CHURCH MICE &amp; THE MOON (Church Mice &amp; the Moon)',
 'The Celts Activity Book',
 'The Cereal Murders',
 'The Challenge of Parenthood',
 'The Chocolate Frog Frame-Up (Chocoholic Mysteries)',
 'The Complete History of Jack the Ripper',
 'The Conscious Reader',
 'The Constitution of the United States of America',
 'The Corner : A Year in the Life of an Inner-City Neighborhood',
 'The Death of the Body',
 'The Dirty Girls Social Club: A Novel',
 'The Doubtful Guest',
 "The Dragon King's Palace: A Novel",
 'The Dying Animal',
 'The Egg and I',
 'The Elephant Vanishes: Stories (Vintage International)',
 "The Essential 55: An Award-Winning Educator's Rules for Discovering the Successful Student in Every Child",
 'The Final Judgement',
 'The Five Minute Iliad Other Instant Classics : Great Books For The Short Attention Span',
 'The Glory Field',
 'The Great and Secret Show',
 'The Highwayman',
 "The Hungry Ocean : A Swordboat Captain's Journey",
 'The Island of the Colorblind',
 'The Labors of Hercules (Hercule Poirot Mysteries (Paperback))',
 'The Last Lone Inventor: A Tale of Genius, Deceit, and the Birth of Television',
 'The Last Report on the Miracles at Little No Horse: A Novel',
 "The Left-Hander's Handbook",
 'The Limits of Detection',
 'The Lost Get Back Boogie',
 "The MOTLEY FOOL'S RULE BREAKERS, RULE MAKERS : THE FOOLISH GUIDE TO PICKING STOCKS",
 'The Magic School Bus Going Batty: A Book About Bats (Magic School Bus)',
 'The Mermaids Singing (A Dr. Tony Hill &amp; Carol Jordan Mystery)',
 'The Minimalist Cooks at Home : Recipes That Give You More Flavor from Fewer Ingredients in Less Time',
 'The Monster at the End of This Book',
 'The Moor: A Mary Russell Novel',
 'The Music Lesson : A Novel',
 'The New Basics Cookbook',
 'The New Joy of Cooking',
 'The New Read-Aloud Handbook',
 'The No Spin Zone : Confrontations with the Powerful and Famous in America',
 'The Noisy Counting Book (Tough Enough for Toddlers)',
 'The Odd Job (Sarah Kelling and Max Bittersohn Mysteries (Hardcover))',
 'The Pearl',
 'The Philip K. Dick Reader',
 'The Philosophy of Andy Warhol',
 'The Proving',
 'The Revenge of the Hound',
 'The River Midnight',
 'The Salmon of Doubt: Hitchhiking the Galaxy One Last Time',
 "The Samurai's Daughter",
 'The Sand Wars: Solar Kill, Lasertown Blues and Celestial Hit List (Sand Wars)',
 'The Science of Self-Realization',
 "The Shelters of Stone (Earth's Children, Book 5)",
 'The Silver Palate Cookbook',
 "The Simple Solution to Rubik's Cube",
 'The Singing Whakapapa',
 'The Sound of Waves',
 'The Stand: The Complete &amp; Uncut Edition',
 'The Tick: Mighty Blue Justice!',
 'The Traveler',
 'The Trial',
 'The Truck Book (Best Book Club Ever)',
 'The Twelve Dancing Princesses: A Folk Tale from the Brothers Grimm (Easy to Read Folktale)',
 "The Ubiquitous Shrimp: From Simple to Exotic, from Feasts to Snacks, All the Wonderful Ways to Savor America's Favorite Seafood",
 "The Virgin's Knot",
 'The Way They Learn',
 'The Western way: A practical guide to the Western mystery tradition',
 'The Whale Rider',
 "The White Dog Cafe Cookbook: Recipes and Tales of Adventure from Philadelphia's Revolutionary Restaurant",
 "The White Mare's Daughter (Epona)",
 'The Wise Women of Havana',
 'The Woman in the Yard',
 'The World Encyclopedia of Comics',
 'The Wreck of the Whaleship Essex',
 'The good-by day (A Little golden book)',
 'These is My Words',
 'Those Who Hunt the Night',
 'Three Complete Novels: The Andromeda Strain, The Terminal Man, and The Great Train Robbery',
 'Tied Up in Tinsel',
 'To Afghanistan and Back',
 "Toons for Our Times: A Bloom County Book of Heavy Metal Rump 'N Roll",
 "Traitor's Gate",
 'Trick Questions (Tubby Dubonnet Mysteries)',
 'Truckers',
 'True Crime: The Novel',
 'True Love',
 'Truelove and Homegrown Tomatoes',
 'Turning on the Girls',
 'Twilight over Burma: My Life As a Shan Princess (Kolowalu Books (Paperback))',
 "Two O'Clock, Eastern Wartime : A Novel",
 'Ulysses (Vintage International)',
 "Unbelievably Good Deals That You Absoultely Can't Get Unless You're a Parent (Unbelievably Good Deals That You Absolutely Can't Get Unless You're a Parent)",
 'Uncle Boris in the Yukon and Other Shaggy Dog Stories',
 'Unplugged Kitchen: A Return to the Simple, Authentic Joys of Cooking',
 'Up Jumps the Devil (Deborah Knott Mysteries (Paperback))',
 'Vernon God Little: A 21st Century Comedy in the Presence of Death',
 'Virginia Woolf: The Impact of Childhood Sexual Abuse on Her Life and Work',
 'Visions of Sugar Plums',
 "We're in the Money",
 "What To Cook When You Think There's Nothing in the House To Eat : More Than 175 Easy Recipes And Meal Ideas",
 "What to Expect When You're Expecting, 3rd Edition",
 "What to Expect When You're Expecting, Third Edition",
 "What's in a Name?: Reflections of an Irrepressible Name Collector",
 'When in Rome',
 'When the Emperor Was Divine (Alex Awards (Awards))',
 'When the Sacred Ginmill Closes (Matthew Scudder Mysteries (Paperback))',
 'Where the Sidewalk Ends: The Poems and Drawings of Shel Silverstein',
 'White Trash Cooking (Jargon)',
 'Whoreson: The Story of a Ghetto Pimp',

In [44]:
give_reco(8)

{"'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities",
 '20,001 Names for Baby',
 '24 Hours',
 '500 palabras nuevas para ti / 500 Words To Grow On',
 'A Cat in the Manger: An Alice Nestleton Mystery (Alice Nestleton Mysteries (Paperback))',
 'A Certain Justice: A Novel',
 "A Child's Night Dream",
 'A Darkness More Than Night',
 'A Dog Year: Twelve Months, Four Dogs, and Me',
 "A False Sense of Well Being (Ballantine Reader's Circle)",
 'A Flash in the Pan: 100 Fast and Furious Recipes for Wok and Stir-Fry',
 'A Free Man of Color (Benjamin January (Paperback))',
 'A GATHERING OF SAINTS',
 'A Lady Never Trifles with Thieves',
 'A Letter of Mary (Mary Russell Novels (Paperback))',
 'A Letter to Harvey Milk: Short Stories',
 'A Light in the Attic',
 'A Pocket Guide to Oahu',
 "A Single Tear: A Family's Persecution, Love, and Endurance in Communist China",
 'A Wreath for Rivera',
 'A lexicon of Jewish cooking: A collection of folklore, foodlore, history, customs, and recipes',
 'Acceptable Risk',
 'After All These Years',
 "Ain't I A Woman!: A Book of Women's Poetry from Around the World",
 'All Around the World Cookbook',
 'All They Want for Christmas: Comfort and Joy / Merry Christmas, Baby',
 'All the Pretty Horses (The Border Trilogy, Vol 1)',
 'All the Tenderness Left in the World: Short Stories',
 'All-of-a-kind Family',
 'Alley Kat Blues (Kat Colorado Mysteries)',
 'Ambulance Girl: How I Saved Myself by Becoming an EMT',
 "Amy's Answering Machine: Messages from Mom",
 'Angel: City of (Angel)',
 'Animosity : A Novel',
 'Are You Somebody? : The Accidental Memoir of a Dublin Woman',
 'Artists in Crime',
 'At End of Day: A Novel',
 'Auntie Mayhem (Bed-And-Breakfast Mysteries (Paperback))',
 'BABY NAME PERSONALITY BOOK',
 'Babycakes',
 "Bad Jobs: My Last Shift at Albert Wong's Pagoda and Other Ugly Tales of the Workplace",
 'Ballad of Frankie Silver',
 'Bear (Nonpareil books)',
 'Belladonna: A Novel of Revenge',
 'Best Little Word Book Ever! (Little Golden Book)',
 'Better Homes and Gardens Cooking Chinese',
 'Better Times Than These',
 "Black As He's Painted",
 'Black Boy (American Hunger : a Record of Childhood and Youth)',
 "Blu's Hanging",
 'Blue Ridge',
 "Bootlegger's Daughter",
 'Borrowed Time: An AIDS Memoir',
 'Brazil',
 'Bread, Tomato, Garlic: Quick Cooking With 3 Main Ingredients',
 'Breathless: An Asthma Journal',
 'Brighton Beach Memoirs',
 'Brunswick Gardens',
 'Budding prospects: A pastoral (Contemporary American fiction)',
 'Burger Wuss',
 'Busiest Firefighters Ever! (Little Golden Book)',
 'C is for Corpse (Kinsey Millhone Mysteries (Paperback))',
 'CHINA WHITE',
 'Call No Man Father',
 'Cannery Row',
 'Cat on a Hyacinth Hunt : A Midnight Louie Mystery (A Midnight Louie Mystery)',
 'Cats, Cats, Cats!',
 'Cheaper and Better: Homemade Alternatives',
 'Chicken Soup from the Soul of Hawaii: Stories of Aloha to Create Paradise Wherever You Are',
 'Child of the Silent Night',
 'Christmas Talk Story (Book &amp; CD)',
 'Claws',
 'Cleopatra VII: Daughter of the Nile, Egypt, 57 B.C. (The Royal Diaries)',
 "Clifford's Schoolhouse: With More Than 60 Fun Flaps to Lift (Clifford)",
 'Cold Shoulder',
 'Companions in Courage : Triumphant Tales of Heroic Athletes',
 'Confessions of a Pagan Nun : A Novel',
 'Cookie Monster/Cookie Tree',
 'Cracker: To Say I Love You (Cracker (Paperback))',
 'Crazy Ladies : A Novel',
 'Creepy Susie: And 13 Other Tragic Tales for Troubled Children',
 'Crepe Cookery',
 'Crimes of neglect',
 'Critical Judgment',
 'Dark Lady',
 'Daughter of the Queen of Sheba',
 'Daughters of the dreaming',
 'Day of Reckoning',
 'Daydreams',
 'Dead Lagoon: An Aurelio Zen Mystery (Vintage Crime/Black Lizard)',
 'Dead Time',
 'Dead Water',
 'Deadly Legacy',
 'Dear Dad: Letters from an Adult Child',
 'Dear Maggie (Harlequin Superromance, No 987)',
 'Death and the Dancing Footman',
 'Death at the Bar',
 'Death of a Doxy: A Nero Wolfe Mystery (Crime Line)',
 "Death of a Fool (St. Martin's Dead Letter Mysteries.)",
 'Death of a Peer',
 'Descent of man: Stories (Contemporary American fiction)',
 'Desert Solitaire',
 'Desperation Dinners!',
 'Diamond Head (A John Caine Novel)',
 'Died in the Wool',
 'Dinkum oil; meanings and origins of things Aussies and Kiwis say',
 "Dinofours:  It's Time for School!",
 'Disappearing Moon Cafe',
 "Disney's 102 Dalmatians : A Read-Aloud Storybook",
 'Do You Know?',
 'Dolly Hit Me Back (Family Circus Series)',
 "Don't Sit U/Grits",
 "Douglas Adams's Starship Titanic",
 'Down Among the Women',
 'Dr. Dolittles Garden',
 'Dreamland',
 "Dress Codes: Of Three Girlhoods--My Mother's, My Father's, and Mine",
 'Driving and Discovering Oahu (Driving and Discovering Books)',
 'Dust to Dust',
 'Dynamic Yoga',
 'Each Day a New Beginning: Daily Meditations for Women',
 'Each Peach Pear Plum (Picture Puffins)',
 'Eleven Days: A Novel of the Heartland',
 'Encyclopedia Brown and the Case of the Mysterious Handprints (Encyclopedia Brown (Paperback))',
 'End of the Road',
 'Enter a Murderer (Dead Letter Mysteries)',
 'Escape from Fire Island!: A Date With Destiny Adventure',
 'Evans Above (Constable Evan Evans Mysteries (Paperback))',
 'Everville : The Second Book of the Art',
 'Exclusive',
 'Eyes of a Child',
 'FINDING THE BOYFRIEND WITHIN : A Practical Guide for Tapping into your own Source of Love, Happiness, and Respect',
 'FOR COLORED GIRLS WHO HAVE CONSIDERED SUICIDE WHEN THE RAINBOW IS ENUF',
 'Family Traditions in Hawaii',
 'Far Side Gallery 4 (Hardback)',
 'Fat Land: How Americans Became the Fattest People in the World',
 'Fender Benders',
 'Fiesta! A Celebration of Latin Hospitality',
 'Final Curtain',
 'Final Victim',
 'Finn Family Moomintroll',
 'Fire Wall (Checkered Flag)',
 'First Avenue',
 'Fluke : Or, I Know Why the Winged Whale Sings',
 "Flying Hawaii : A Pilot's Guide to the Islands",
 'Food for Fifty',
 "Fresh For '01... You Suckas: A Boondocks Collection",
 'Further Tales of the City',
 'Further Tales of the City (Tales of the City Series, V. 3)',
 'Fuzzy Logic Get Fuzzy 2',
 'Ghost Dance',
 'Golden Age of Promiscuity',
 'Good Night, Little Bear (Little Golden Book Series)',
 'Good Night, Mr. Holmes (Irene Adler)',
 'Great Good Food : Luscious Lower-Fat Cooking',
 'Groovitude: A Get Fuzzy Treasury',
 "Grover's Own Alphabet",
 'Gump &amp; Co.',
 'Gynecology: The Metaethics of Radical Feminism',
 'Hammerhead Ranch Motel',
 'Hard Frost',
 "Hawaii: True Stories of the Island Spirit (Travelers' Tales Guides)",
 'Hell to Pay',
 'Help Me to Help My Child: A Sourcebook for Parents of Learning-Disabled Children',
 'Hide and Seek',
 'High Adventure in the Great Outdoors',
 'Hitched! (The Taggarts Of Texas) (Superromance, 933)',
 'Hocus (Irene Kelly Mysteries (Paperback))',
 'Home for a Dinosaur (Giant First Start Reader)',
 'Honky Tonk Kat (Kat Colorado Mysteries)',
 'Hostile Witness',
 'Hot Type: Our Most Celebrated Writers Introduce the Next Word in Contemporary American Fiction (Collier Fiction)',
 'Hotel Honolulu: A Novel',
 'House of Blues: A Skip Langdon Novel',
 'How to Cook Everything: Simple Recipes for Great Food',
 "I Don't Know But I've Been Told : A Novel",
 'I Had a Dollar in Hawaii',
 'I Hope You Dance',
 "I Myself Have Seen It: The Myth of Hawai'i",
 "I Saw Esau: The Schoolchild's Pocket Book",
 "I Think That It is Wonderful: Featuring Jim Henson's Sesame Street Muppets (Little Golden Book)",
 'I Will Fear No Evil',
 "I'm the One That I Want",
 "IF YOU'RE AFRAID OF DARK",
 'INTIMACY : A NOVEL',
 'INVASION OF PRIVACY (John Francis Cuddy Mystery)',
 'If the River Was Whiskey: Stories (Contemporary American Fiction)',
 'In the Presence of the Enemy',
 'Interpreter of Maladies',
 "Isabel's Daughter : A Novel",
 "It's a Slippery Slope",
 'Jaguars Ripped My Flesh: Adventure Is a Risky Business (Bantam New Fiction Series)',
 'Jennifer, Hecate, MacBeth, William McKinley and Me, Elizabeth',
 'Jitterbug Perfume',
 'John Dollar: A Novel',
 'Judas Child',
 "Jupiter's Bones : A Peter Decker/Rina Lazarus Novel (Peter Decker &amp; Rina Lazarus Novels (Paperback))",
 'Just Plain Folks: Original Tales of Living, Loving, Longing, and Learning, As Told by a Perfectly Ordinary, Quite Commonly Sensible, and Absolutely Awe-Inspiring colore',
 'Justice Hall: A Mary Russell Novel (Mary Russell Novels (Paperback))',
 'KILLING TIME : AN INSPECTOR BILL SLIDER MYSTERY (Inspector Bill Slider Mysteries)',
 'Kat Kong',
 "Kat's Cradle (A Perfect Crime Book)",
 'Katapult (Kat Colorado Mysteries)',
 'Katwalk (Kat Colorado Mysteries)',
 'Key West',
 'Kiss Before Dying (The Best Mysteries of All Time)',
 'Kowloon Tong',
 'Kristin Lavransdatter: The Cross (Kristin Lavransdatter (Vintage))',
 'L.A. Confidential',
 'LAUGH BOOK, THE',
 'Lazarus and the Hurricane: The Freeing of Rubin \\Hurricane\\ Carter',
 "Lee Wade's Korean Cookery",
 'Light Thickens',
 "Lion's Blood : A Novel of Slavery and Freedom in an Alternate America",
 'Little Big Man',
 'Lost in a Good Book: A Thursday Next Novel',
 'Man With A Mission (The Men Of Maple Hill) (Harlequin Superromance, No. 1033)',
 'Marie Antoinette: Princess of Versailles, Austria-France, 1769 (The Royal Diaries)',
 'Marriage By The Book  (Florida) (Born in the USA)',
 'Martin Dressler : The Tale of an American Dreamer (Vintage Contemporaries)',
 'Master and Commander (Movie Tie-In Edition)',
 "Maya's First Rose: Diary of a Very Special Love",
 'Me: Stories of My Life',
 'Memnoch the Devil (Rice, Anne, Vampire Chronicles, 5th Bk.)',
 'Miami Spice: The New Florida Cuisine',
 "Miguel De Cervantes's Don Quixote",
 'Milk Treading',
 'Mine Eyes Have Seen : A First-Person History of the Events That Shaped America',
 'Mists of Time: Ngapuhi Myths and Legends',
 'Modern Women',
 "Molly Moon's Incredible Book of Hypnotism (Molly Moon Books (Hardcvoer))",
 'Monkey Wrench Gang',
 'More Shtuff - Mutts Iii (Mutts)',
 'More Tales of the City',
 'Moreau Omnibus: Forests of the Night/Emperors of the Twilight/Specters of the Dawn',
 'Mother Tongue (Passport Books No 3)',
 "Moving on: The Gay Man's Guide for Coping When a Relationship Ends",
 'Mr. Bridge',
 'Mrs. Mike',
 'Murder Runs in the Family: A Southern Sisters Mystery',
 'Murder With Puffins : A Meg Langslow Mystery (A Meg Lanslow Mystery)',
 'Murder on a Bad Hair Day: A Southern Sisters Mystery',
 'My Dark Places: An L.A. Crime Memoir',
 'My Father Is in the Navy',
 'My Little Golden Book of Cars and Trucks (Little Golden Book)',
 'N.P.: A Novel',
 'New Pocket Hawaiian Dictionary: With a Concise Grammar and Given Names in Hawaiian',
 'Night Dogs',
 'Night Train to Memphis',
 'Night of the Avenging Blowfish: A Novel of Covert Operations, Love, and Luncheon Meat',
 'Nights in the Gardens of Spain',
 "No Mirrors in My Nana's House",
 'No More Dying Then! (Vintage Crime/Black Lizard)',
 'No Shirt, No Shoes... No Problem!',
 'O Jerusalem (Mary Russell Novels (Paperback))',
 'Oahu the Gathering Place',
 'Odd Girl Out: The Hidden Culture of Aggression in Girls',
 'On Edge',
 'On a Street Called Easy, in a Cottage Called Joye',
 'One Police Plaza',
 'One life at a time: Making a world of difference',
 'Oracles and Miracles',
 'Oranges Are Not the Only Fruit',
 'Our Mutts Five',
 'Overcoming migraine: A comprehensive guide to treatment and prevention by a survivor',
 'P.S. Longer Letter Later',
 "Parents Are Teachers Too: Enriching Your Child's First Six Years (Little Hands(r))",
 'Pearl',
 'Poirot Investigates (Hercule Poirot Mysteries (Paperback))',
 'Pooh Trick or Treat! (Little Golden Books)',
 "Pooh's Workout Book",
 'Postcards from the Underground: Portraits from the Beat Era',
 'Postmodern Pooh',
 'Potiki (Talanoa : Contemporary Pacific Literature)',
 'Practical English Handbook',
 'Prince and Other Dogs II',
 'Prince: And Other Dogs 1850-1940',
 'Propeller One-Way Night Coach: A Story',
 'Puerto Rico Off the Beaten Path, 2nd: A Guide to Unique Places',
 'Pupus: An Island Tradition',
 'Quaker Indictment (An Elizabeth Elliot Mystery)',
 'RESCUE',
 'RIGHT TO DIE : RIGHT TO DIE',
 "Rainbow's End",
 'Random Family: Love, Drugs, Trouble, and Coming of Age in the Bronx',
 'Ransom',
 'Rashomon Gate',
 "Rehearsal's Off!",
 'Requiem for a Glass Heart',
 'Rest for the Wicked Ppr Nz',
 'Reweaving the World: The Emergence of Ecofeminism',
 'Rice',
 'Right as Rain',
 'River God',
 'Room Temperature: A Novel',
 "Rosie's Bakery All Butter Fresh Cream Sugar Packed No Holds Barred Baking Book",
 'Rush to Us/Americans Hail Rush Limbaugh',
 'Ryan White: My Own Story',
 'SEAL FORCE ALPHA',
 'SHALLOW GRAVES : SHALLOW GRAVES',
 'SHOCK WAVE (Dirk Pitt Adventures (Hardcover))',
 "Sabine's Notebook: In Which the Extraordinary Correspondence of Griffin &amp; Sabine Continues",
 'Sacajawea (Lewis &amp; Clark Expedition)',
 'Sarah, Plain and Tall (Sarah, Plain and Tall)',
 'Sarah: Women of Genesis',
 'Scales of Justice (Inspector Roderick Alleyn Mysteries)',
 'Scandinavian Feasts',
 'Scarlet Women: A Novel',
 'Send in the Stunt Mom: The Second Collection of Committed',
 'Serious Intent',
 'Seven Little Postmen (Little Golden Book)',
 'Shadow Song',
 'She Walks These Hills',
 "She's Gone Country: Dispatches from a Lost Soul in the Heart of Dixie",
 'Shenandoah Christmas (You, Me &amp; The Kids) (Harlequin Superromance, No. 1024)',
 'Sherlock Holmes and the Ice Palace Murders: From the American Chronicles of John H. Watson, M.D',
 'Short &amp; Tall Tales: Moose County Legends Collected by James Mackintosh Qwilleran',
 'Show of Evil',
 'Siddhartha',
 'Sideshow (One Last Wish)',
 "Singin' and Swingin' and Gettin' Merry Like Christmas",
 'Sins of the Fathers',
 'Sins of the Seventh Sister',
 'Slackjaw',
 'Slam (Alloy Books)',
 'Sling Blade: A Screenplay',
 'Smartest Bear and His Brother Oliver',
 'So Long a Letter (African Writers Series)',
 'Spinsters in Jeopardy',
 'Stern Men',
 'Strange Days: My Life With and Without Jim Morrison',
 'Stuart Little',
 'Substitute Father (Marriage Of Inconvenience) (Harlequin Super Romance)',
 'Suitable for Framing W/the Corpse Had a Familiar Face',
 'Susie, Sadly, and the Black Torpedo of Doom',
 "Suzanne's Diary for Nicholas",
 "Talk: Npr's Susan Stamberg Considers All Things",
 'Tangi (Pacific Writers Series)',
 'Tao Te Ching',
 'Terms of Adornment : The Ultimate Guide to Accessories',
 'Terrific Pacific Cookbook',
 'The Abduction',
 'The African-American Kitchen: Cooking from Our Heritage',
 'The Ballad of Frankie Silver',
 'The Best American Nonrequired Reading 2002 (Best American Nonrequired Reading, 2002)',
 'The Big Bounce',
 'The Biggest Pumpkin Ever',
 'The Bitch in the House : 26 Women Tell the Truth About Sex, Solitude, Work, Motherhood, and Marriage',
 "The Book of Ruth (Oprah's Book Club (Hardcover))",
 'The Breaker',
 'The Brimstone Wedding',
 'The Burning City',
 'The CHURCH MICE &amp; THE MOON (Church Mice &amp; the Moon)',
 'The Cereal Murders',
 'The Challenge of Parenthood',
 'The Chocolate Frog Frame-Up (Chocoholic Mysteries)',
 'The Complete History of Jack the Ripper',
 'The Conscious Reader',
 'The Constitution of the United States of America',
 'The Corner : A Year in the Life of an Inner-City Neighborhood',
 'The Death of the Body',
 'The Dirty Girls Social Club: A Novel',
 'The Doubtful Guest',
 "The Dragon King's Palace: A Novel",
 'The Dying Animal',
 'The Egg and I',
 'The Elephant Vanishes: Stories (Vintage International)',
 "The Essential 55: An Award-Winning Educator's Rules for Discovering the Successful Student in Every Child",
 'The Final Judgement',
 'The Five Minute Iliad Other Instant Classics : Great Books For The Short Attention Span',
 'The Glory Field',
 'The Great and Secret Show',
 'The Highwayman',
 "The Hungry Ocean : A Swordboat Captain's Journey",
 'The Island of the Colorblind',
 'The Labors of Hercules (Hercule Poirot Mysteries (Paperback))',
 'The Last Lone Inventor: A Tale of Genius, Deceit, and the Birth of Television',
 'The Last Report on the Miracles at Little No Horse: A Novel',
 "The Left-Hander's Handbook",
 'The Limits of Detection',
 'The Lost Get Back Boogie',
 "The MOTLEY FOOL'S RULE BREAKERS, RULE MAKERS : THE FOOLISH GUIDE TO PICKING STOCKS",
 'The Magic School Bus Going Batty: A Book About Bats (Magic School Bus)',
 'The Mermaids Singing (A Dr. Tony Hill &amp; Carol Jordan Mystery)',
 'The Minimalist Cooks at Home : Recipes That Give You More Flavor from Fewer Ingredients in Less Time',
 'The Monster at the End of This Book',
 'The Moor: A Mary Russell Novel',
 'The Music Lesson : A Novel',
 'The New Basics Cookbook',
 'The New Joy of Cooking',
 'The New Read-Aloud Handbook',
 'The No Spin Zone : Confrontations with the Powerful and Famous in America',
 'The Noisy Counting Book (Tough Enough for Toddlers)',
 'The Odd Job (Sarah Kelling and Max Bittersohn Mysteries (Hardcover))',
 'The Pearl',
 'The Philip K. Dick Reader',
 'The Philosophy of Andy Warhol',
 'The Proving',
 'The Revenge of the Hound',
 'The River Midnight',
 'The Salmon of Doubt: Hitchhiking the Galaxy One Last Time',
 "The Samurai's Daughter",
 'The Sand Wars: Solar Kill, Lasertown Blues and Celestial Hit List (Sand Wars)',
 'The Science of Self-Realization',
 "The Shelters of Stone (Earth's Children, Book 5)",
 'The Silver Palate Cookbook',
 "The Simple Solution to Rubik's Cube",
 'The Singing Whakapapa',
 'The Sound of Waves',
 'The Stand: The Complete &amp; Uncut Edition',
 'The Tick: Mighty Blue Justice!',
 'The Traveler',
 'The Trial',
 'The Truck Book (Best Book Club Ever)',
 'The Twelve Dancing Princesses: A Folk Tale from the Brothers Grimm (Easy to Read Folktale)',
 "The Ubiquitous Shrimp: From Simple to Exotic, from Feasts to Snacks, All the Wonderful Ways to Savor America's Favorite Seafood",
 "The Virgin's Knot",
 'The Way They Learn',
 'The Whale Rider',
 "The White Dog Cafe Cookbook: Recipes and Tales of Adventure from Philadelphia's Revolutionary Restaurant",
 "The White Mare's Daughter (Epona)",
 'The Wise Women of Havana',
 'The Woman in the Yard',
 'The World Encyclopedia of Comics',
 'The Wreck of the Whaleship Essex',
 'The good-by day (A Little golden book)',
 'These is My Words',
 'Those Who Hunt the Night',
 'Three Complete Novels: The Andromeda Strain, The Terminal Man, and The Great Train Robbery',
 'Tied Up in Tinsel',
 'To Afghanistan and Back',
 "Toons for Our Times: A Bloom County Book of Heavy Metal Rump 'N Roll",
 "Traitor's Gate",
 'Trick Questions (Tubby Dubonnet Mysteries)',
 'True Crime: The Novel',
 'True Love',
 'Truelove and Homegrown Tomatoes',
 'Turning on the Girls',
 'Twilight over Burma: My Life As a Shan Princess (Kolowalu Books (Paperback))',
 "Two O'Clock, Eastern Wartime : A Novel",
 'Ulysses (Vintage International)',
 "Unbelievably Good Deals That You Absoultely Can't Get Unless You're a Parent (Unbelievably Good Deals That You Absolutely Can't Get Unless You're a Parent)",
 'Uncle Boris in the Yukon and Other Shaggy Dog Stories',
 'Unplugged Kitchen: A Return to the Simple, Authentic Joys of Cooking',
 'Up Jumps the Devil (Deborah Knott Mysteries (Paperback))',
 'Vernon God Little: A 21st Century Comedy in the Presence of Death',
 'Virginia Woolf: The Impact of Childhood Sexual Abuse on Her Life and Work',
 'Visions of Sugar Plums',
 "We're in the Money",
 "What To Cook When You Think There's Nothing in the House To Eat : More Than 175 Easy Recipes And Meal Ideas",
 "What to Expect When You're Expecting, 3rd Edition",
 "What to Expect When You're Expecting, Third Edition",
 "What's in a Name?: Reflections of an Irrepressible Name Collector",
 'When in Rome',
 'When the Emperor Was Divine (Alex Awards (Awards))',
 'When the Sacred Ginmill Closes (Matthew Scudder Mysteries (Paperback))',
 'Where the Sidewalk Ends: The Poems and Drawings of Shel Silverstein',
 'White Trash Cooking (Jargon)',
 'Whoreson: The Story of a Ghetto Pimp',
 'Wild Kat (Kat Colorado Mysteries)',
 'Wild Seed',
 "William's Doll (Jp 067)",
 'Witches of Eastwick',